.lhspic{
	width: 50px;
	height: 42px;
}
.rhspic{
	width: 40px;
	height: 42px;
}

.buttons{
	width: 150px;
	height: 150px;
}

.inner{
	display: inline-block;
}

.center{
	text-align: center;
}
	
	
#spacer{
	/*background-color: #333333; */
	height: 10px;
	width: 100px;
	display: inline-block;
}

#spacer1{
	width: 50px;
}