<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

body
    h1 Click <a href="http://www.yahoo.com">Yahoo</a> to go to worse Google.


    if 'cat' != null
        p Hi there, kid
    else
        p Hi there, unknown person!

    p Have some vegetables:

    ul

        for mentor in mentorArray
            li= mentor.ID
            li= mentor. FNAME
            li= mentor.LNAME
            li= mentor.IMG