.profile-image{
    margin-top: 1.5rem!important;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	width: 200px;
	height: 200px;
}

.center-text{
	text-align: center;
}

.moneybutton{
	margin-top: 1.5rem!important;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#overlay {
    position: absolute; /* Sit on top of the page content */
    display: block; /* On by default */
	width: 100%;
	height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}